body {
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}


header {
    margin-bottom: 25px;
    background-color: dodgerblue;
    height: 40px;
}

h1 {
    padding-top: 6px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
}

img {
    height: 35px;
    padding-right: 10px;
    padding-top: 6px;
}

footer a span {
    display: none;
}

footer a {
    display: inline-block;
    height: 400px;
    width: 300px;
    background-image: url("../images/wizard.png");
    background-size: contain;
}

.list {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    list-style-type: none;
}

.list.list-bullets {
    list-style-type: circle;
}
.list.list-horizontal{
    padding: 0;
}
.list.list-horizontal li {
    display: inline-block;
}

.box {
    border-radius: 5px;
    height: 350px;
    border: 1.5px solid dodgerblue;
    background-color: rgb(248, 249, 250);
}

.box-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
}

.box h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

label input{
    margin: 0 3px;
}